*{
    box-sizing:border-box;
}
html{
    background:#4040AA;
    font-family:"Roboto", sans-serif;
}
body{
    background:#FFFFFF;
    color:#000000;
    margin-top:1em;
    width:100%;
    max-width:60em;
    margin:1em auto;
    padding:2em 1em;
    border-radius:0.3em;
    box-shadow:0 0 5em rgba(0,0,0,0.3);
}
table,td,th{
    border:none;
}
a,a:visited{
    color:#4040FF;
}
